.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--clr-marine-blue) !important;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: var(--clr-marine-blue) !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: var(--clr-marine-blue) !important;
}
